@import url('https://fonts.googleapis.com/css?family=Muli:400,700,900&display=swap');

:root {
  --spotify-green: rgb(28,176,74);
  --spotify-green-light: rgb(29,209,85);
  --white: rgb(255,255,255);
  --black: rgb(0,0,0);
  --gray: rgb(110,110,110);
  --gray-light: rgb(230,230,230);
  --gold-light: rgb(255,240,64);
  --gold: rgb(255,215,64);
}

html {
  font-family: 'Muli', sans-serif;
  background-color: var(--spotify-green-light);
}

#root {
  margin: 0 0;
  padding: 5% 0;
  width: 100%;
  /* height: 100vh;
  background-color: var(--spotify-green-light) */
}

.powered {
  position: absolute;
  top: 0;
  left: 3%;
  text-align: left;
  margin-top: 10px;
}

#spotify-logo {
  background-image: url("./images/spotify-logo.png");
  height: 50px;
  width: 100px;
  background-size: contain;
  background-repeat: no-repeat;
  margin-left: -20px;
  margin-top: -15px;
}

#powered-by {
  font-size: 16px;
  margin: 5% 0;
}

#genius-logo {
  background-image: url("./images/genius-logo.png");
  height: 50px;
  width: 100px;
  background-size: contain;
  background-repeat: no-repeat;
  margin-left: -15px;
  margin-top: -18px;
}

h1 {
  margin: 80px auto 0 auto;
  font-size: 50px;
  font-weight: bold;
}

h6 {
  margin-bottom: 7%;
  font-size: 18px;
}

.main {
  color: var(--white);
  text-align: center;
}

#active {
  color: var(--gray);
  background-color: var(--white);
  border: 1px solid var(--spotify-green-light);
}

#inactive {
  color: var(--white);
  background-color: transparent;
  border: 1px solid var(--white);
}

#search-button {
  height: 75px;
  line-height: 75px;
  font-size: 32px;
  padding: 0 100px;
  background-color: var(--gold);
  color: var(--gray);
  border: none;
}

#search-button:hover {
  background-color: var(--gold-light);
}

.song-search-button {
  margin-right: 1%;
}

.lyrics-search-button {
  margin-left: 1%;
}

#search-form {
  margin-top: 2%;
}

.song {
  margin-top: 10%;
  margin-bottom: 6%;
}

.song > img {
  max-width: 100%;
}

.song-actions {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

#listen-on-spotify {
  display: inline-block;
  background-image: url("./images/spotify-button.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 165px;
  height: 70px;
}

.show-features-button {
  display: inline-block;
  height: 50px;
  line-height: 50px;
  width: 175px;
  font-size: 16px;
  padding: 0;
  margin: 0;
}

#lyrics {
  float: right;
  color: var(--white);
  text-align: right;
  font-size: 18px;
  margin: 0 6% 0 0;
}
